:root {
  --color-white: #ffffff;
  --color-white-25: #ffffff25;
  --color-black: #000000;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e8e8e8;
  --color-gray-300: #d6d6d6;
  --color-gray-400: #a6a6a6;
  --color-gray-500: #767676;
  --color-gray-600: #575757;
  --color-gray-700: #444444;
  --color-gray-800: #2b2b2b;
  --color-gray-900: #1c1c1c;
  --color-gray-op-50: #e8e8e850;

  --color-content-primary: #000000d9;
  --color-content-secondary: #00000080;
  --color-content-tertiary: #00000040;

  --color-rich-black: #011627ff;
  --color-deep-black: #02040fff;
  --color-folly: #ff3366ff;
  --color-light-sea-green: #2ec4b6ff;
  --color-celestial-blue: #20a4f3ff;
  --color-seasalt: #f6f7f8ff;
  --color-periwinkle: #dcccffff;

  --color-rich-black-80: #011627cc;
  --color-deep-black-80: #02040fcc;
  --color-folly-80: #ff3366cc;
  --color-light-sea-green-80: #2ec4b6cc;
  --color-celestial-blue-80: #20a4f3cc;
  --color-seasalt-80: #f6f7f8cc;
  --color-periwinkle-80: #dcccffcc;

  --color-logo: var(--color-folly);

  --color-success: var(--color-jade);
  --color-error: var(--color-indian-red);
  --color-warning: var(--color-saffron);
  --color-info: var(--color-celestial-blue);

  --font-base: var(--font-inter), sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;

  --text-primary: var(--color-white);
  --text-secondary: var(--color-gray-300);
  --text-muted: var(--color-gray-400);
  --text-on-primary: var(--color-white);

  --bg-body: var(--color-white);
  --bg-header: var(--color-rich-black-80);
  --bg-footer: var(--color-rich-black);

  --container-width: 1280px;

  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-36: 2.25rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;

  --border-radius-4: 0.25rem;
  --border-radius-5: 0.3125rem;
  --border-radius-6: 0.375rem;
  --border-radius-8: 0.5rem;
  --border-radius-10: 0.625rem;
  --border-radius-12: 0.75rem;
  --border-radius-14: 0.875rem;
  --border-radius-16: 1rem;
  --border-radius-20: 1.25rem;
  --border-radius-full: 1000px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
  color: var(--text-primary);
  background: var(--bg-body);
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  min-height: 100dvh;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 10px;
}

.link {
  position: relative;
  transition: all 0.3s;
}

.link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  display: block;
  width: 0%;
  height: 1px;
  background-color: var(--color-white);
  margin-top: 5px;
  transition: width 0.3s, left 0.3s;
}

.link:hover::after {
  width: 100%;
  left: 0;
}

.btn {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  color: var(--color-black);
  border: none;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 10px 15px;
  transition: all 0.3s;
}

.btn:hover {
  color: var(--color-white);
  background-color: var(--color-light-sea-green-80);
}

.btn--login {
  border-radius: var(--border-radius-full);
}